.about-landing-container {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}

.about-landing-title {
  flex: 1;
  margin-right: 5rem;

  @media all and (max-width: 690px) {
    flex: 0 0 100%;
    margin-bottom: 2rem;
  }

  h1 {
    font-weight: 900;
  }
}

.about-landing-content {
  flex: 0 0 60%;

  @media all and (max-width: 690px) {
    flex: 0 0 100%;
  }

  p {
    line-height: 1.5;
    margin-bottom: 1.5rem;
  }

  .intro {
    line-height: 1.3;
    font-size: 2rem;
    font-weight: 300;

    @media all and (max-width: 690px) {
      font-size: 1.5rem;
    }
  }

  h1, h2, h3, h4, h5, h6 {
    font-weight: 900;
    margin-bottom: 1.5rem;
  }

  hr {
    height: 0.25em;
    padding: 0;
    margin: 24px 0;
    background-color: #e1e4e8;
    border: 0;
  }
}
