.about-landing-container {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}

.about-landing-title {
  flex: 1;
  margin-right: 5rem;

  @media all and (max-width: 690px) {
    flex: 0 0 100%;
    margin-bottom: 3rem;
  }

  h1 {
    font-weight: 900;
  }
}

.about-landing-content {
  flex: 0 0 70%;

  p {
    line-height: 1.5;
    margin-bottom: 1.5rem;
  }

  .intro {
    line-height: 1.3;
    font-size: 2rem;
    font-weight: 300;
  }

  h1, h2, h3, h4, h5, h6 {
    font-weight: 900;
    margin-bottom: 1.5rem;
  }
}
