.blog-landing-container {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}

.blog-landing-title {
  flex: 1;
  margin-right: 5rem;

  @media all and (max-width: 690px) {
    flex: 0 0 100%;
    margin-bottom: 3rem;
  }

  h1 {
    font-weight: 900;
  }
}

.blog-landing-posts {
  flex: 0 0 60%;

  @media all and (max-width: 690px) {
    flex: 0 0 100%;
  }

  .intro {
    line-height: 1.3;
    font-size: 2rem;
    font-weight: 300;

    @media all and (max-width: 690px) {
      font-size: 1.5rem;
    }
  }

  hr {
    height: 0.25em;
    padding: 0;
    margin: 24px 0;
    background-color: #e1e4e8;
    border: 0;
  }

  .card {
    position: relative;

    .date {
      // background: #E1E4E8;
      background: #d2d5d8;
      color: white;
      padding: .25rem;
      font-size: 12px;
      display: inline-block;
      position: absolute;
      top: 0;
      right: 1rem;
    }

    .card-content h3 {
      padding: 1.5rem .5rem 1rem;
    }

    .card-icon {

      &.privacy {
        background: #E91E63;
      }

      &.security {
        background: #689F38;
      }

      &.litigation {
        background: #3F51B5;
      }

      &.design {
        background: #FFC107;
      }

      &.programming {
        background: #2196F3;
      }

      &.events {
        background: #F44336;
      }

    }
  }

  .posts {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .posts li {
    border-bottom: solid 1px #e1e4e8;
    margin-bottom: 2px;
    transition: all .2s ease;
    cursor: pointer;
    padding: .35rem 0;
    display: flex;
    align-items: flex-start;

    a {
      flex: 1;
    }

    .date {
      flex: 0 0 100px;
      background: black;
      color: white;
      padding: .25rem;
      font-size: 12px;
      margin-right: .5rem;
      transition: all .2s ease;
    }

    &:hover {
      // background: black;
      // color: white;
      // padding-left: 1rem;

      .date {
        flex: 0 0 120px;
      }
    }

    &:last-child {
      border-bottom: none;
      margin-bottom: 0;
    }
  }

  // .posts li:before {
  //   content: '\2014';
  //   position: absolute;
  //   margin-left: -20px;
  // }
}
