.blog-landing-container {
  display: flex;
  align-items: flex-start;
}

.blog-landing-title {
  flex: 1;
  margin-right: 5rem;

  h1 {
    font-weight: 300;
  }
}

.blog-landing-posts {
  flex: 0 0 70%;

  .posts {
    list-style: none;
  }

  .posts li {
    border-bottom: solid 1px #ddd;
    margin-bottom: 2px;
    transition: all .2s ease;
    cursor: pointer;

    .date {
      background: black;
      color: white;
      padding: .25rem;
      font-size: 12px;
      margin-right: .5rem;
    }

    .title {

    }

    &:hover {
      background: black;
      color: white;
      padding-left: 1rem;
    }

    &:last-child {
      border-bottom: none;
      margin-bottom: 0;
    }
  }

  .posts li:before {
    content: '\2014';
    position: absolute;
    margin-left: -20px;
  }
}
