.blog-landing-container {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}

.blog-landing-title {
  flex: 1;
  margin-right: 5rem;

  @media all and (max-width: 690px) {
    flex: 0 0 100%;
  }

  h1 {
    font-weight: 300;
  }
}

.blog-landing-posts {
  flex: 0 0 50%;

  @media all and (max-width: 690px) {
    flex: 0 0 100%;
  }

  .posts {
    list-style: none;
  }

  .posts li {
    border-bottom: solid 1px #ddd;
    margin-bottom: 2px;
    transition: all .2s ease;
    cursor: pointer;
    padding: .35rem 0;
    display: flex;
    align-items: flex-start;

    a {
      flex: 1;
      padding: .25rem;
    }

    .date {
      flex: 0 0 100px;
      background: black;
      color: white;
      padding: .25rem;
      font-size: 12px;
      margin-right: .5rem;
      transition: all .2s ease;
    }

    &:hover {
      // background: black;
      // color: white;
      // padding-left: 1rem;

      .date {
        flex: 0 0 120px;
      }
    }

    &:last-child {
      border-bottom: none;
      margin-bottom: 0;
    }
  }

  // .posts li:before {
  //   content: '\2014';
  //   position: absolute;
  //   margin-left: -20px;
  // }
}
