.contact-component {
  width: 100%;
  border-top: solid 1px #e1e4e8;
  padding-top: 2rem;
  margin-top: 4rem;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  li {
    margin-right: .5rem;
    flex: 0 0 auto;

    &:after {
      content: ' / ';
    }
  }

  li:last-child {
    &:after {
      content: '';
    }
  }

  @media all and (max-width: 900px) {
    padding: 1rem 0;

    ul {
      display: block;
    }

    li:after {
      content: ''
    }
  }
}


.contact-component__list-item {
  flex: 1;
  margin-right: 2rem;
  margin-bottom: .7rem;
  font-size: .8rem;

  a {
    color: #067df7;
    text-decoration: none;

    &:hover {
      color: #bd10e0;
    }
  }

  .label {
    // opacity: .4;
    margin-right: 5px;
    position: relative;
    overflow: hidden;
    transition: opacity .3s cubic-bezier(.23,1,.32,1);

    &::after {
      transition: all .5s cubic-bezier(.175,.885,.32,1.275);
      background: #fff;
      position: absolute;
      content: '';
      bottom: -2px;
      height: 1px;
      width: 100%;
      left: 0;
    }
  }

  .value {
    position: relative;
    overflow: hidden;
    transition: opacity .3s cubic-bezier(.23,1,.32,1);

    &::after {
      transition: all .5s cubic-bezier(.175,.885,.32,1.275);
      background: #fff;
      position: absolute;
      content: '';
      bottom: -2px;
      height: 1px;
      width: 0px;
      left: 0;
    }
  }

  &:hover {
    .label {

      &::after {
        background: #bd10e0;
        width: 0;
        left: 0;
      }
    }

    .value {
      &::after {
        background: #bd10e0;
        width: 100%;
        left: 0;
      }
    }
  }

  @media all and (max-width: 800px) {
    display: block;
    margin-left: 0;
  }
}


.contact-landing-contacts {
  .contact-component__list {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .contact-component__list-item {
    font-size: 1rem;
  }
}
