.global-nav {
  display: flex;
  flex: 0 0 60%;
  margin-bottom: 2rem;
  border-top: solid 3px #ddd;
  padding-top: 1rem;

  h3 {
    display: none;
    margin-bottom: 2rem;
  }

  @media all and (max-width: 1070px) {
    flex: 0 0 60%;
  }

  @media all and (max-width: 690px) {
    flex: 0 0 100%;
    border-top: none;
    margin: 0;
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    background: white;
    width: 100%;
    height: 100%;
    padding: 2rem;

    h3 {
      display: block;
    }
  }
}

.nav-collection {
  padding: .5rem;
  flex: 1;

  @media all and (max-width: 690px) {
    padding: 0;
  }
}

.nav-item {
  cursor: pointer;
  font-size: 14px;
  margin-bottom: .5rem;

  a.animated-line {
    color: black;
    text-decoration: none;

    &:hover {
      color: #bd10e0;
    }
  }
}
