.global-nav {
  display: flex;
  flex: 1;
  margin-bottom: 2rem;
  border-top: solid 3px #ddd;
  padding-top: 1rem;

  @media all and (max-width: 1070px) {
    flex: 1;
  }

  @media all and (max-width: 690px) {
    flex: 0 0 100%;
    border-top: none;
    margin: 0;
    display: none;
  }
}

.nav-collection {
  padding: .5rem;
  flex: 1;
}

.nav-item {
  cursor: pointer;
  font-size: 14px;
  margin-bottom: .5rem;

  a.animated-line {
    color: black;
    text-decoration: none;

    &:hover {
      color: #bd10e0;
    }
  }
}
