.post-header {
  padding: 2rem 0;
  border-bottom: solid 1px #ddd;
  margin-bottom: 2rem;
  position: relative;
  background: black;

  h1 {
    font-size: 8rem;
    word-wrap: break-word;
    color: white;
    margin-left: -5px;
    line-height: .9;

    @media all and (max-width: 690px) {
      font-size: 4rem;
    }
  }

  .meta {
    padding: .5rem;
    text-align: right;
    background: white;
    color: black;
  }
}

.post-content {
  max-width: 780px;
  word-wrap: break-word;
  font-size: 16px;
  line-height: 1.5;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

  h1, h2, h3, h4, h5, h6 {
    margin-top: 24px;
    margin-bottom: 16px;
    font-weight: 600;
    line-height: 1.25;
  }

  h1 {
    padding-bottom: 0.3em;
    font-size: 2em;
    border-bottom: 1px solid #eaecef;
  }

  h2 {
    padding-bottom: 0.3em;
    font-size: 1.5em;
    border-bottom: 1px solid #eaecef;
  }

  h3 {
    font-size: 1.25em;
  }

  h4 {
    font-size: 1em;
  }

  p, ul, ol {
    margin-top: 0;
    margin-bottom: 16px;
  }

  ul, ol {
    padding-left: 2em;
  }

  ul {
    list-style-type: disc;
  }

  ul ul {
    margin-top: 0;
    margin-bottom: 0;
  }

  li+li {
    margin-top: 0.25em;
  }

  img {
    box-sizing: content-box;
    background-color: #fff;
    max-width: 100%;
  }

  pre {
    font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
    font-size: 12px;
    padding: 16px;
    overflow: auto;
    line-height: 1.45;
    background-color: #f6f8fa;
    border-radius: 3px;
    word-wrap: normal;
  }

  pre>code {
    font-size: 100%;
    word-break: normal;
    white-space: pre;
    background: transparent;
  }

  pre code {
    display: inline;
    padding: 0;
    margin: 0;
    overflow: visible;
    line-height: inherit;
    word-wrap: normal;
    background-color: transparent;
    border: 0;
  }

  a {
    color: #067df7;
    text-decoration: none;

    &:hover {
      color: #bd10e0;
    }
  }

  hr {
    height: 0.25em;
    padding: 0;
    margin: 24px 0;
    background-color: #e1e4e8;
    border: 0;
  }

  blockquote {
    margin: 0;
    margin-top: 0;
    margin-bottom: 16px;
    padding: 0 1em;
    color: #6a737d;
    border-left: 0.25em solid #dfe2e5;
  }

  blockquote>:last-child {
    margin-bottom: 0;
  }

  blockquote>:first-child {
    margin-top: 0;
  }
}

.post-footer {
  margin-top: 4rem;
  padding-top: 2rem;
  border-top: solid 1px #eaecef;

  a {
    color: #067df7;
    text-decoration: none;

    &:hover {
      color: #bd10e0;
    }
  }
}
