.card {
  box-shadow: 0 1px 3px 0 rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 2px 1px -1px rgba(0,0,0,.12);
  background: white;
  display: flex;
  border-radius: 3px;
  margin-bottom: .5rem;

  .card-icon {
    flex: 0 0 80px;
    text-align: center;
    background: black;
    color: white;
    margin-right: 1rem;
  }

  .card-content {
    flex: 1;

    h3 {
      margin: 1rem 0;
    }
  }
}
