---
layout: default
title: Blog
---

<div class="blog-landing-container" >
  <div class="blog-landing-title">
    <h1>{{ page.title }}</h1>
  </div>
  <div class="blog-landing-posts">
    <p class="intro">
      Some thoughts on privacy law, data protection and software development.
    </p>
    <hr/>
    {% for post in site.posts %}
    <div class='card'>
      <div class='card-icon {{ post.category }}'>
        {% if post.category == 'privacy' %}
        <i class="material-icons">vpn_key</i>
        {% elsif post.category == 'litigation' %}
        <i class="material-icons">gavel</i>
        {% elsif post.category == 'security' %}
        <i class="material-icons">security</i>
        {% elsif post.category == 'design' %}
        <i class="material-icons">palette</i>
        {% elsif post.category == 'programming' %}
        <i class="material-icons">code</i>
        {% elsif post.category == 'events' %}
        <i class="material-icons">today</i>
        {% else %}
        <i class="material-icons">fiber_new</i>
        {% endif %}
      </div>
      <div class='card-content'>
        <h3><a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></h3>
        <span class="date">{{ post.date | date_to_string }}</span>
      </div>
    </div>
    {% else %}
    <p>No posts yet. Check back soon!</p>
    {% endfor %}
  </div>
</div>
