---
layout: default
---

<div class="blog-landing-container" >
  <div class="blog-landing-title">
    <h1>{{ page.title }}</h1>
  </div>
  <div class="blog-landing-posts">
    <div class='post-header'>
      <span class='category-icon'>
        {% if post.category == 'privacy' %}
        <i class="material-icons">vpn_key</i>
        {% elsif post.category == 'litigation' %}
        <i class="material-icons">gavel</i>
        {% elsif post.category == 'security' %}
        <i class="material-icons">security</i>
        {% elsif post.category == 'design' %}
        <i class="material-icons">palette</i>
        {% elsif post.category == 'programming' %}
        <i class="material-icons">code</i>
        {% elsif post.category == 'events' %}
        <i class="material-icons">today</i>
        {% else %}
        <i class="material-icons">fiber_new</i>
        {% endif %}
      </span>
      <p class="meta">{{ page.date | date_to_string }}</p>
      <p class="intro">{{ page.excerpt }}</p>
    </div>
    <div class="post-content">
      {{ content }}
    </div>
    <div class='post-footer'>
      <a href="/blog" class='animated-line'>View all blog posts</a>
    </div>
  </div>
</div>
