---
layout: default
---

<div class="blog-landing-container" >
  <div class="blog-landing-title">
    <h1>{{ page.title }}</h1>
  </div>
  <div class="blog-landing-posts">
    <div class='post-header'>
      <p class="meta">{{ page.date | date_to_string }}</p>
      <p class="intro">{{ page.excerpt }}</p>
    </div>
    <div class="post-content">
      {{ content }}
    </div>
    <div class='post-footer'>
      <a href="/blog" class='animated-line'>View all blog posts</a>
    </div>
  </div>
</div>
