---
layout: default
---

<div class="blog-landing-container" >
  <div class="blog-landing-title">
    <h1>{{ page.title }}</h1>
  </div>
  <div class="blog-landing-posts">
    <div class='post-header'>
      <span class='category-icon {{ page.category }}'>
        {% if page.category == 'privacy' %}
        <i class="material-icons">vpn_key</i>
        {% elsif page.category == 'litigation' %}
        <i class="material-icons">gavel</i>
        {% elsif page.category == 'security' %}
        <i class="material-icons">security</i>
        {% elsif page.category == 'design' %}
        <i class="material-icons">palette</i>
        {% elsif page.category == 'programming' %}
        <i class="material-icons">code</i>
        {% elsif page.category == 'events' %}
        <i class="material-icons">today</i>
        {% else %}
        <i class="material-icons">fiber_new</i>
        {% endif %}
      </span>
      <p class="meta">{{ page.date | date_to_string }} {% if page.category %}&nbsp;&nbsp;/&nbsp;&nbsp; Filed under: {{ page.category }} {% endif %}</p>
      <p class="intro">{{ page.excerpt }}</p>
    </div>
    <div class="post-content">
      {{ content }}
    </div>
    <div class='post-footer'>
      <p>
        <i>This article was written for general information purposes only. It is not intended to provide legal advice or opinions of any kind and may not be used for professional or commercial purposes.</i>
      </p>
      <a href="/blog" class='animated-line'>View all blog posts</a>
    </div>
  </div>
</div>
